 title: "Página de Inicio"
 date: 2025-07-28
 ---
 <section class="intro flex flex-col items-center text-center gap-4 py-10 w-full">
   <div class="legacy">
     <section class="hero-section2">
       <h1 class="text-6xl md:text-8xl font-bold tracking-tight">
         <span class="text-blue-700">TRIX</span>
         <span class="text-red-600">Studio</span>
       </h1>
       <h2>Automatización & Renderizadoddddddd</h2>
       <div class="my-4">
         <img id="carouselImage" src="{{ .Site.Params.logo_webp | relURL }}" alt="Logo TRIX Studio" class="w-48 h-auto mx-auto rounded shadow-md" decoding="async" loading="lazy">
       </div>
       <p>+ de 35 años automatizando tu hogar</p>
     </section>
   </div>
 </section>

 {{ partial "cotizadores.html" . }}

 <section class="service-section text-center py-8 bg-gray-50">
   <div class="max-w-6xl mx-auto">
     <div class="flex flex-col md:flex-row justify-center items-start gap-8 mb-12">
       <div class="flex-1 bg-white p-6 rounded-lg shadow-md">
         <h1 class="section-title text-5xl font-bold text-[var(--primary-color)] mb-6">Puertas Automáticas</h1>
         <div class="flex justify-center items-center mb-8">
           <span class="text-6xl mr-4">🛠️</span>
           <p class="text-3xl font-semibold text-gray-800">Instalación y Mantenimiento Profesional</p>
         </div>
         <p class="text-2xl text-gray-700 mb-6">
           Contamos con un equipo de técnicos capacitados, listos para brindarte el soporte técnico integral que mereces.
         </p>
         <a id="callNowBtn" href="tel:+525554539552" class="inline-block bg-blue-700 hover:bg-blue-800 text-white px-5 py-2 rounded-full shadow-sm focus:outline-none focus:ring">Llamar ahora</a>
       </div>
       <div class="flex-1 bg-white p-6 rounded-lg shadow-md">
         <h1 class="section-title text-5xl font-bold text-[var(--primary-color)] mb-6">SOPORTE TÉCNICO EN LA CIUDAD DE MÉXICO</h1>
         <div class="tagembed-widget" style="width:100%;height:300px;overflow:auto;" data-widget-id="293133" website="1"></div>
         <script src="https://widget.tagembed.com/embed.min.js" type="text/javascript"></script>
       </div>
     </div>


     <section class="py-12 px-4 md:px-8">
       <div class="max-w-4xl mx-auto">
         <h2 class="text-3xl md:text-4xl font-bold text-[var(--primary-color)] mb-6">¿Quieres transformar tu negocio?</h2>
         <img class="card-image" src="{{ "img/renderluces7.webp" | relURL }}" alt="Diseño de interiores con iluminación" loading="lazy">
         <h2 class="text-3xl md:text-4xl font-bold text-[var(--primary-color)] mb-6">Modelamos 3D | Renderizamos</h2>
         <div class="flex flex-col md:flex-row gap-4 justify-center items-center my-8">
           <div class="w-full md:w-1/3">
             <model-viewer src="{{ "models/dron.glb" | relURL }}" alt="Modelo 3D de dron 1" auto-rotate camera-controls ar loading="lazy" class="rounded-lg shadow-lg"></model-viewer>
           </div>
           <div class="w-full md:w-1/3">
             <model-viewer src="{{ "models/brazo_solo.glb" | relURL }}" alt="Modelo 3D de dron 2" auto-rotate camera-controls ar loading="lazy" class="rounded-lg shadow-lg"></model-viewer>
           </div>
           <div class="w-full md:w-1/3">
             <model-viewer src="{{ "models/dron.glb" | relURL }}" alt="Modelo 3D de dron 3" auto-rotate camera-controls ar loading="lazy" class="rounded-lg shadow-lg"></model-viewer>
           </div>
         </div>
         <div class="upsell-section max-w-4xl mx-auto mt-12 bg-white p-8 rounded-lg shadow-md">
           <h2 class="text-4xl font-semibold text-[var(--primary-color)] mb-6 text-center">Visualiza tu hogar renovado con nuestro servicio de renderizado.</h2>
         </div>
         <div class="flex flex-col sm:flex-row gap-4">
           <a href="https://wa.me/525554539552" class="border border-[var(--primary-color)] text-[var(--primary-color)] font-semibold py-3 px-6 rounded-lg hover:bg-[var(--primary-color)] hover:text-white transition">Solicita cotización: Chatea por WhatsApp</a>
         </div>
       </div>
     </section>

     <section class="servicio">
       <div class="container mx-auto px-4 text-center">
         <img class="logo-img" src="{{ .Site.Params.logo_webp | relURL }}" alt="Logo TRIX Automatización" loading="lazy">
         <h2 class="text-3xl md:text-4xl font-bold text-[var(--primary-color)] mb-6">¡Automatiza tu puerta!</h2>
         <li><strong>Puertas Automáticas</strong>: Instalación, Mantenimiento y reparaciones.</li>
         <div class="container">
           {{ range $.Site.Data.products }}
           {{ partial "product.html" (dict "name" .name "image" .image "description" .description) }}
           {{ end }}
         </div>
       </div>
       {{ partial "ld-json-products.html" . }}
     </section>
   </div>
 </section>

 <div class="servicio">
   <h2>¡Nos ajustamos a tu presupuesto!</h2>
   <img class="logo-img" src="{{ .Site.Params.logo_webp | relURL }}" alt="Logo TRIX Automatización" loading="lazy">
   <img class="img-product_trix" src="{{ "img/camionetrix.webp" | relURL }}" alt="Camioneta TRIX" width="400" height="100" loading="lazy">
   <div class="container">
     {{ range $.Site.Data.products_budget }}
     {{ partial "product.html" (dict "name" .name "image" .image "description" .description) }}
     {{ end }}
   </div>
 </div>

 <div class="service-section">
   <h4>Recomendaciones en Pistones Hidráulicos</h4>
   <ul>
     <li>Puertas Largas</li>
     <li>Puertas alta frecuencia de uso por hora</li>
     <li>Puertas Pesadas</li>
     <li>Reparación y mtto. Cambio de válvulas, empaques y aceite</li>
   </ul>
 </div>

 <div class="servicio">
   <div class="container">
     {{ range $.Site.Data.products_hydraulic }}
     {{ partial "product.html" (dict "name" .name "image" .image "description" .description) }}
     {{ end }}
   </div>
 </div>

 <h2>Recomendaciones TRIX: Motores Piñón-Cremallera para puertas corredizas</h2>
 <div class="servicio">
   <img class="logo-img" src="{{ .Site.Params.logo_webp | relURL }}" alt="Logo TRIX Automatización" loading="lazy">
   <h4>¡Nos ajustamos a tu presupuesto!</h4>
   <div class="container">
     {{ range $.Site.Data.products_rack }}
     {{ partial "product.html" (dict "name" .name "image" .image "description" .description) }}
     {{ end }}
   </div>
 </div>

 {{ partial "cortinas.html" . }}