:80 {
    # Compresión
    encode zstd gzip

    # Logs
    log {
        output stdout
        format console
    }

    # API de visitas (¡primero!)
    handle /api/visits* {
        reverse_proxy flask:5000
    }

    # Grafana
    handle_path /grafana* {
        reverse_proxy grafana_trix:3000
    }

    # Prometheus
    handle_path /prometheus* {
        reverse_proxy prometheus_trix:9090
    }

    # Docs Sphinx
    handle_path /docs* {
        root * /srv/docs
        file_server
    }

    # API Doxygen (estática)
    handle_path /api* {
        root * /srv/api
        file_server
    }

    # Landing por defecto (catch-all)
    handle {
        root * /srv/www/landing
        header {
            X-Frame-Options "SAMEORIGIN"
            X-Content-Type-Options "nosniff"
            Referrer-Policy "no-referrer-when-downgrade"
        }
        file_server
    }
}