#map { 
    width: 100%; 
    height: 500px;
    margin: auto;
}

.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#toggle-markers-btn {
    padding: 5px 10px;
    font-size: 0.8em; 
}

.menu-icon {
    display: flex;
    align-items: center;
    font-size: 24px; 
}

/* Media Queries */

@media (max-width: 768px) { 
    #map {
        height: 300px; 
    }
    .control-panel {
        flex-direction: column; /* Apila los elementos verticalmente */
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }
    #style-selector, #toggle-markers-btn, .menu-icon {
        margin-bottom: 5px; /* Espacio entre los elementos apilados */
    }
}

@media (max-width: 480px) {
    #map {
        height: 200px;
    }
}