body {
    margin: 0;
    padding: 0;
    font-size: 9px;
    display: flex;
    flex-direction: column;
}

.date {
    color: #d4d4d4;
    font-size: 20px;
    margin: 0 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #73a3fc;
}

.logo-img {
    height: 25%;
    margin: 0 8px;
}

/* Navigation */
nav {
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 5px;
}

nav > ul > li > a {
    color: #d4d4d4;
    display: block;
    line-height: 0.9em;
    padding: 4px 8px; /* Reducido de 8px 10px a 4px 8px */
    font-size: 16px;
    text-decoration: none;
    background-color: #073b91; 
    border-radius: 5px;
    cursor: pointer;
}

nav > ul > li > a:hover {
    color: #ffffff;
    background-color: #01416c;
}

.bg-div {
    background: #333;
    overflow: hidden;
}

.center {
    flex: 1;
    text-align: center;
}

.content-wrapper {
    flex-grow: 1;
    overflow: auto;
}

ul {
    background-color: #333;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s;
}

li:hover a {
    color: #ffc107;
}

.menu-icon {
    font-size: 24px; /* Tamaño del ícono de hamburguesa */
}