:root {
    --primary-color: #0A3161; /* Azul tecnológico */
    --secondary-color: #ae1212;
    --light-color: #f8f8f8;
    --dark-color: #0056b3;
    --neutral-color: #E8ECEF;
    --header-height: 80px;
    
}