/* Estilos básicos para el sidebar */
#sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #f0f0f0;
  overflow-y: auto;
  transition: right 0.3s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

#sidebar.active {
  right: 0;
}

#close-sidebar {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 20px;
}

.cart-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Para pantallas pequeñas (móviles, hasta 767px) */
@media (max-width: 767px) {
  /* Estilos para pantallas pequeñas */
  body {
      font-size: 14px;
  }
  nav ul {
      flex-direction: column; /* Cambia la navegación a vertical */
  }
  .elemento {
      width: 100%; /* Ocupa todo el ancho */
  }
}

/* Para tablets (desde 768px hasta 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Estilos para tablets */
  .elemento {
      width: 50%; /* Ocupa la mitad del ancho */
  }
}

/* Para pantallas grandes (desktops, desde 1024px) */
@media (min-width: 1024px) {
  /* Estilos para pantallas grandes */
  body {
      font-size: 16px;
  }
}