<header>
  <div class="container">
    <div class="logo-wrapper">
      <img class="logo-trix" src="{{ "img/logo_trix_st.png" | relURL }}" alt="Logo TRIX">
    </div>
    <nav>
      <div id="menuButton" class="menu-button">☰</div>
      <ul class="nav-list" id="navList">
        <li><a href="/">Inicio</a></li>
        <li><a href="/ruta_modelado/">3D y Renderizado</a></li>
        <li><a href="/ruta_modeladoPLC/">HVAC</a></li>
        <li><a href="/ruta_controles_accesorios/">Controles</a></li>
        <li><a href="/ruta_tarjetas_control/">Tarjetas de Control Puertas</a></li>
        <li><a href="/alarmasyaccesorios/">Alarmas y Accesorios</a></li>
        <li><a href="/ruta_cremallera/">Motores de Cremallera</a></li>
        <li><a href="/ruta_barreras/">Barreras</a></li>
        <li><a href="/electronica/">Educación Tecnológica</a></li>
        <li><a href="/puertas_edificios/">Puertas especializadas</a></li>
        <li><a href="/quienes-somos/">About</a></li>
      </ul>
    </nav>
  </div>
</header>
