<div class="container">
  <div class="logo-wrapper">
    <img class="logo-trix" src="{{ "img/logo_trix_st.png" | absURL }}" alt="Logo TRIX">
  </div>

  <nav>
    <div id="menuButton" class="menu-button">☰</div>
    <ul class="nav-list" id="navList">
      <li><a href="{{ "/" | absURL }}">Inicio</a></li>
      <li><a href="{{ "/electronica.html" | absURL }}">BLOG: Quiero aprender</a></li>
      <li><a href="{{ "/ruta_modelado.html" | absURL }}">3D y Renderizado</a></li>
      <li><a href="{{ "/ruta_modeladoPLC.html" | absURL }}">HVAC</a></li>
      <li><a href="{{ "/quienes-somos.html" | absURL }}">About</a></li>
      <li><a href="#" id="langSwitch">Switch to English</a></li>
    </ul>
  </nav>
</div>